.idea/

/build/override.properties

/component/sociallogin.xml

/component/media/js/*.map

/plugins/**/**/*.xml

/release

# Internal language symlinks
/component/language/*/en-GB
/modules/*/*/language/en-GB
/plugins/*/*/language/en-GB
/translations